<div id="profileContainer">
	<div id="summaryTitle">
		Account Summary
	</div>
	<h3> First Name: <%= user.firstName %></h3>
	<h3> Last Name: <%= user.lastName %> </h3>
	<h3> Email: <%= user.email %></h3>

	<a class="btn btn-primary" href="../edit/<%= user.id %>">Edit</a>
</div>