#navSpacer {
	height: 50px;
}

#footerLeft {
	padding: 15px 0;
}

.content {
	margin-top: 50px;
}

.jumbotron {
	text-align: center;
}

#regForm {
	margin: 0 auto;
	padding: 15px;
	border-radius: 5px;
	background-color: lightgrey;
	width: 400px;
	text-align: center;
}

#profileContainer {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	background-color: lightgrey;
	width: 600px;
}

#summaryTitle {
	font-size: 30px;
	font-weight: bold;
}

#tableContainer {
	width: 1200px;
	margin: 0 auto;
}

.indexButtons {
	width: 150px;
}