.centerText {
	text-align: center;
}

.smallTimeInput {
	height: 20px;
}

#navSpacer {
	height: 50px;
}

#footerLeft {
	padding: 15px 0;
}

.jumbotron {
	text-align: center;
}

#regForm {
	margin: 0 auto;
	padding: 15px;
	border-radius: 5px;
	background-color: lightgrey;
	width: 400px;
	text-align: center;
}

#profileContainer {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	background-color: lightgrey;
	width: 600px;
}

#summaryTitle {
	font-size: 30px;
	font-weight: bold;
}

#tableContainer {
	margin: 0 auto;
}

.indexButtons {
	width: 200px;
}

.scheduleTable tr th, .scheduleTable tr td{
	padding: 0px;
	margin: 0px;
}

.dayWidth {
	width: 175px;
}

.entryBlock {
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid white;
}

.entryBlock:hover {
	border: 1px solid lightgrey;
}

.entryTitle {
	text-align: center;
	height: 20px;
	font-weight: bold;
	border-bottom: 1px solid white;
}

.entryDel {
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: 135px;
}

.entryDel button:hover {
	text-decoration: none;
	font-weight: bold;
	color: red;
}