.centerText {
	text-align: center;
}

.smallTimeInput {
	height: 20px;
}

#navSpacer {
	height: 50px;
}

#footerLeft {
	padding: 15px 0;
}

.jumbotron {
	text-align: center;
}

#regForm {
	margin: 0 auto;
	padding: 15px;
	border-radius: 5px;
	background-color: lightgrey;
	width: 400px;
	text-align: center;
}

#profileContainer {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	background-color: lightgrey;
	width: 600px;
}

#summaryTitle {
	font-size: 30px;
	font-weight: bold;
}

#tableContainer {
	margin: 0 auto;
}

.indexButtons {
	width: 200px;
}

.scheduleTable tr th, .scheduleTable tr td{
	padding: 0px;
	margin: 0px;
}

.dayWidth {
	width: 175px;
}
.entryBar {
	padding: 10px 0px;
}

.entryTitle {
	width: 185px;
	text-align: center;
}

.entryDel {
	width: 20px;
}